

.gform_confirmation_message {
  padding: 10px;
  background-color: #a4d8a5;
  text-align: center;
  color: #fff;
  font-size: 21px;
  margin-bottom: 10px;
}
.iti.iti--allow-dropdown{
  width: 100%;
  input[type="tel"]{
    padding-left: 55px !important;
  }
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent !important;
}